


*{   
    margin: 0;
    padding: 0;
}

.logoclass{
    display: inline-block;
    height: 280px;
    width: 240px;
    padding-left: 10px;
    size: 100px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 90px;
    padding: 0px 30px 0px 0px;

}


nav a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}

nav{
    display: flex;
    gap: 30px;
    text-decoration: none;

}

a:hover{
    color: red;
}

.hero{
    height: 100vh;
    background:url(Images/simplebanner.jpg) no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.hero button{
    padding: 15px 20px;
    font-size: 15px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.hero button:hover{
    background-color: black;
    color: red;
    transition: 0.5s;
}
