*{

    color: blue;
    text-align: center;
}

p{
    color: black;
    text-align: end;
}

#hehe{
    background-color: aqua;
}

.ARIA{

    background-color:chartreuse;
}

.NIIN{
    font-size: x-large;
}